.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ant-menu {
  width: 100%;
  background: transparent !important;
}

.ant-card {
  border-radius: 6px;
}

.ant-menu-item {
  border-radius: 4px;
  line-height: 40px;
  margin-right: 6px !important;
}

.ant-btn {
  display: flex;
  align-items: center;
}

.pointer:hover {
  cursor: pointer;
  border: 1px solid #177ddc;
}

.header {
  display: flex !important;
  align-items: center !important;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.ant-layout-content {
  margin-top: 100px;
}

#components-layout-demo-top-side .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.kt-mr-5 {
  margin-right: 5px;
}
